<!DOCTYPE html>
<html lang="en" ng-app="funWithCountries">
<head>
  <meta charset="UTF-8">
  <title>Angular-PHP</title>
  
</head>
<body>
  
  <h1>Fun with Countries</h1>

  <div ng-controller="CountryController as countryCtrl">
    <ul>
      <li ng-repeat="country in countryCtrl.countries">
        <img ng-src="{{country.flag}}">
          {{country.name}}  
        
          <div ng-controller="StateController as stateCtrl">
            <ul ng-show="country.states.length > 0">
              <li ng-repeat="state in country.states">{{state.name}}
              </li>
            </ul>
            <input type="text" name="state" ng-model="stateCtrl.newState"> 
            <a href ng-click="stateCtrl.addStateTo(country)">Add State {{stateCtrl.newState}}</a>
          </div>
      </li> 
    </ul>
  </div>
  
  

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>